#screen {
  width: 300px;
  height: 300px;
  text-align: center;
  user-select: none;
}
#screen.waiting {
  background-color: lightskyblue;
}
#screen.ready {
  background-color: lightcoral;
  color: white;
}
#screen.now {
  background-color: rgb(63, 224, 71);
}
